.question-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #000; */
    color: #fff;
  }
  
  .question {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 50%;
  }
  .question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .yes-button,
  .no-button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 20px;
    background-color: #ffffff;
    backdrop-filter: blur(2px);
    color: #000;
    backdrop-filter: 500px blur;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .no-button-container {
    position: relative;
    width: 100px;
    height: 50px;
  }